body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 97vh;
  /* background-color: white; */
  z-index: -10;
}

.wrapper::before {
  content: '';
  background: linear-gradient(to bottom, #fff 0%, #dbf2ff 100%);
  height: 476px;
  top: 76px;
  position: absolute;
  left: 0;
  width: 100%;
}

.wrapper {
  background-color: #fff;
}
